<div class="vip-trial-login-cover"></div>
<div{{ attributes }}>
  <i class="angle double down icon"></i>
  {% if children['buy_vip'] %}
    <div>购买VIP，查看完整内容</div>
    <div class="ui mini buttons">
      <a href="{{ children['buy_vip']['#url'] }}" class="ui positive button"><i class="shopping bag icon"></i>{{ children['#vip_price'] }}，全站畅看</a>
    </div>
  {% else %}
    <div>登录后查看完整内容</div>
    <div class="ui mini buttons">
      <a href="{{ children['login']['#url'] }}" class="ui blue button"><i class="user icon"></i>登录</a>
      <div class="or" data-text="或"></div>
      <a href="{{ children['register']['#url'] }}" class="ui positive button"><i class="keyboard icon"></i>注册</a>
    </div>
  {% endif %}
</div>
