{#
/**
 * @file vip_expire.html.twig
 * Default theme implementation to present VIP Expire data.
 *
 * This template is used when viewing VIP Expire pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vip_expire()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vip_expire') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
